Package: pedar-dbgsym
Package-Type: ddeb
Source: pedar
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Yasser Sajjadi <yassersajjadi@gmail.com>
Installed-Size: 109
Depends: pedar (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for pedar
Build-Ids: 5672798e583cfb2a11dab769de036993f4b79b8d
