Package: pedar-dbgsym
Package-Type: ddeb
Source: pedar
Version: 1.0.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Yasser Sajjadi <yassersajjadi@gmail.com>
Installed-Size: 127
Depends: pedar (= 1.0.0-1)
Section: debug
Priority: optional
Description: debug symbols for pedar
Build-Ids: 58aea6a3c780464c2d884facb04ae29a0217e47e
